@font-face {
    font-family: HeroBold;
    src: url(./fonts/Hero\ Bold\ 700.otf) format("opentype");
}

@font-face {
    font-family: HeroLight;
    src: url(fonts/Hero\ Light\ 200.otf) format("opentype");
}

@font-face {
    font-family: Hero;
    src: url(fonts/Hero\ Regular\ 400.otf) format("opentype");
}

*{
    margin: 0;
}

.navBar{
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
}

.links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.topLeft{
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.topInfo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
    gap: 20px;
}

.flexItem{
    width: 100px;
    border-radius: 5px;
    border-color: #3882f6;
}

.darkBackGround{
    background-color: #1F2937;
}

.mainHeroText{
    font-family: HeroBold;
    font-size: 48px;
    color: #f9faf8;
    
}

.secondaryHeroText{
    font-family: Hero;
    font-size: 18px;
    color: #e5e7eb;
}

.headerLogoText{
    font-family: Hero;
    font-size: 24px;
    color: #f9faf8;
}

.buttonColor{
    background-color: #3882f6;
}

.informationHeaderText{
    font-family: HeroBold;
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.quoteSelectionBackGround{
    background-color: lightgrey;
}

.quoteText{
    font-family: HeroLight;
    font-style: italic;
    font-size: 36px;
    color: #1f2937;
}

.morePictures{
    display: flex;
    justify-content: center;
    gap: 40px;
}
 
.infoImage{
    width: 200px;
    height: 200px;
    object-fit: contain;
    border-radius: 20px;
    border: #3882f6 4px solid;
}

.imageSubText{
    font-family: Hero;
    font-size: 18px;
    color: #1f2937;
    text-align: center;
}

.informationSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.morePictureItem{
    display: flex;
    flex-direction: column;
    max-width: 200px;
    align-items: center;
    justify-content: flex-start;
}

.quoteSection{
    padding: 200px;
}

.quoteCreditText{
    font-family: HeroBold;
    font-size: 18px;
    color: #1f2937;
    text-align: right;
    padding-top: 20px;
}